body {
    background-color: #f8f8f8;
}

/* Form */
#form-container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 25px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 25px;
}

#form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

#form-container a {
    color: #222;
    transition: .5s;
}

#form-container a:hover{
    color: #6c63FF;
}

#form-container form{
    padding-bottom: 5-px;
}

#form-container .form-control {
    border: none;
    border-bottom: 1px solid #CCC ;
    border-radius: 0;
}

#form-container :focus{
    box-shadow: none;
}

#form-container .form-floating label {
    color: #CCC;
}

#form-container .form-floating > .form-control:focus~label {
    color: #222;
}

#form-container .form-check-input:checked,
#form-container input[type="submit"] {
    background-color: #6c63FF;
    border-color: #6c63FF;
}

/* .btn.btn-primary {
    width: 100%;
} /*

/* Image */
.row.align-itens-center {
    align-content: center;
    height: 100%;
}

#link-container {
    text-align: center;
    padding-top: 50px;
}